<!-- Place jumbotron with the page tittle and a nice picture background you can also add testimonals -->

<body class="sub_page">



<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                        <p>//Short paragraph about company</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="img_container">
                    <div class="img-box b1">
                        <img src="../../assets/trucks2.jpeg" alt="" />
                    </div>
                    <div class="img-box b2">
                        <img src="../../assets/team8.jpeg" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="detail-box">
                    <h2>Who we are</h2>
                    <p>
                        PSH Removal is a Company that was established in 1998, created and found by one of the most
                        hard working father, since 2021 the
                        Business is now 50% owned by a strong young black Female.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="detail-box">
                    <h2>What we do</h2>
                    <p> Convince is one of the service we offer in our business</p>
                    <ul>
                        <li>Moving of product </li>
                        <li>Packing of Materials into Boxes</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Our Vision</h2>
                <p> Convince is one of the service we offer in our business</p>
                <ul>
                    <li>Moving of product </li>
                    <li>Packing of Materials into Boxes</li>
                </ul>
            </div>
        </div>
    </div>

</section>

<!-- end about section -->