    <!-- contact section -->
  
    <section class="contact_section layout_padding">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Contact Us
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
              <div>
                <span class="text-danger form-text"
                                *ngIf="(formControls.name.touched) && formControls.name.errors?.required">
                                Name is required
                            </span>
                <input type="text" formControlName="name" placeholder="Name" />
              </div>
              <div>
                <span class="text-danger form-text"
                                *ngIf="(formControls.email.touched) && formControls.email.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger form-text"
                                *ngIf="(formControls.email.touched) && formControls.email.errors?.email">
                                Email is invalid
                            </span>
                <input type="email" formControlName="email" placeholder="Email" />
              </div>
              <div>
                <span class="text-danger form-text"
                                *ngIf="(formControls.phoneNumber.touched) && formControls.phoneNumber.errors?.required">
                                Phone number is required
                            </span>
                <span class="text-danger form-text"
                                *ngIf="(formControls.phoneNumber.touched) && formControls.phoneNumber.errors?.minlength">
                                Phone number must at least be 10 numbers
                            </span>
                <span class="text-danger form-text"
                                *ngIf="(formControls.phoneNumber.touched) && formControls.phoneNumber.errors?.maxlength">
                                Phone number must at most be 11 numbers and a plus (+) sign
                            </span>
                <input type="text" formControlName="phoneNumber" placeholder="Phone Number" />
              </div>
              <div>
                <span class="text-danger form-text"
                                *ngIf="(formControls.message.touched) && formControls.message.errors?.required">
                                Message is required
                            </span>
                <input type="text" formControlName="message" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button type="submit" [disabled]="!FormData.valid" class="btn btn-primary mt-4 rounded-pill">Send</button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://maps.google.com/maps?q=1105%20Prospect%20St,%20Hatfield,%20Pretoria,%200028&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end contact section -->