    <!-- contact section -->
  
    <section class="contact_section layout_padding">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Contact Us
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button class="rounded-pill">
                  SEND
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <div class="map-responsive">
                <iframe src="https://maps.google.com/maps?q=1105%20Prospect%20St,%20Hatfield,%20Pretoria,%200028&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end contact section -->
  
<!-- footer section -->
<footer class="container-fluid footer_section mt-5" style="padding-bottom: 0;">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-9 mx-auto">
              <p>
                  &copy; 2019 All Rights Reserved By
                  <a href="#">Insane IT Solutions</a>
              </p>
          </div>
      </div>
  </div>
</footer>
<!-- footer section -->