
.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.navbar-nav {
    display: -webkit-inline-box;
}
  
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .heading_container h2 {
    position: relative;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .heading_container img {
    width: 30px;
  }
  
  
  /*header section*/
.hero_area {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #eae6f5;
    color: #0c0c0c;
}

.sub_page .hero_area {
    height: auto;
}

.header_section .container {
    padding: 0;
}

.header_section .nav_container {
    margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 7px 20px;
    margin: 10px 15px;
    color: #000000;
    text-align: center;
    border-radius: 35px;
    text-transform: uppercase;
    font-size: 15px;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link,
.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
    background-color: #4b208c;
    color: #ffffff;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    border: 0;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
}

.custom_nav-container {
    z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #190734;
    margin: 7px 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
    transform: none;
}

/*end header section*/