<div class="jumbotron text-center ">
    <!--Please enter something nice for this page-->
    <h1>Get a Quote</h1>
</div>

<form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
    <div class="form-group">
        <label>First name</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.firstName.touched) && formControls.firstName.errors?.required">
            First Name is required
        </span>
        <input type="text" formControlName="firstName" class="form-control" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label>Last name</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.lastName.touched) && formControls.lastName.errors?.required">
            Last Name is required
        </span>
        <input type="text" formControlName="lastName" class="form-control" placeholder="Enter your last name">
    </div>
    <div class="form-group">
        <label>Phone number</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.phoneNumber.touched) && formControls.phoneNumber.errors?.required">
            Phone number is required
        </span>
        <span class="text-danger form-text"
            *ngIf="(formControls.phoneNumber.touched) && formControls.phoneNumber.errors?.minlength">
            Phone number must at least be 10 numbers
        </span>
        <span class="text-danger form-text"
            *ngIf="(formControls.phoneNumber.touched) && formControls.phoneNumber.errors?.maxlength">
            Phone number must at most be 11 numbers and a plus (+) sign
        </span>
        <input type="text" formControlName="phoneNumber" class="form-control" placeholder="Enter your contact Number">
    </div>

    <div class="form-group">
        <label>Moving From</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.movingFrom.touched) && formControls.movingFrom.errors?.required">
            Province is required
        </span>
        <select class="form-control" formControlName="movingFrom">
            <option value="">--- Select Province ---</option>
            <option value="KZN">KwaZulu-Natal</option>
            <option value="GP">Gauteng</option>
            <option value="FS">Free State</option>
            <option value="EC">Eastern Cape</option>
            <option value="NC">Northern Cape</option>
            <option value="WC">Western Cape</option>
            <option value="NW">North West</option>
            <option value="MP">Mpumalanga</option>
            <option value="LP">Limpopo</option>
        </select>
    </div>

    <div class="form-group">
        <label>Moving To</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.movingTo.touched) && formControls.movingTo.errors?.required">
            Province is required
        </span>
        <select class="form-control" formControlName="movingTo">
            <option value="">--- Select Province ---</option>
            <option value="KZN">KwaZulu-Natal</option>
            <option value="GP">Gauteng</option>
            <option value="FS">Free State</option>
            <option value="EC">Eastern Cape</option>
            <option value="NC">Northern Cape</option>
            <option value="WC">Western Cape</option>
            <option value="NW">North West</option>
            <option value="MP">Mpumalanga</option>
            <option value="LP">Limpopo</option>
        </select>
    </div>

    <div class="form-group">
        <label>Suburb from</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.suburbFrom.touched) && formControls.suburbFrom.errors?.required">
            Suburb is required
        </span>
        <input type="text" formControlName="suburbFrom" class="form-control" placeholder="Enter suburb of collection">
    </div>

    <div class="form-group">
        <label>Suburb to</label>
        <span class="text-danger form-text"
            *ngIf="(formControls.suburbFrom.touched) && formControls.suburbFrom.errors?.required">
            Suburb is required
        </span>
        <input type="text" formControlName="suburbTo" class="form-control"
            placeholder="Enter suburb of the delivery of the package">
    </div>
    <div class="form-check form-group">
        <input class="form-check-input" formControlName="typeOfMove" type="radio" id="res" value="res" />
        <label class="form-check-label" for="res"> Residential move</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" formControlName="typeOfMove" type="radio" id="office" value="office" />
        <label class="form-check-label" for="office"> Office move</label>
    </div>

    <div class="form-group">
        <textarea class="form-control" formControlName="additionalInfo"
            placeholder="Enter Additional information"></textarea>
    </div>
    <div class="mt-3"><span *ngIf="!FormData.valid" class="form-text">Complete form to enable button</span></div>
    <button type="submit" [disabled]="!FormData.valid" class="btn btn-primary mt-4 rounded-pill"> Send Request</button>
</form>